<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Driverupdater.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Driverupdater.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <applicationSettings>
        <Driverupdater.Properties.Settings>
            <setting name="Username" serializeAs="String">
                <value>MRBennetsen</value>
            </setting>
            <setting name="Password" serializeAs="String">
                <value>klim1234</value>
            </setting>
            <setting name="AccessLevel" serializeAs="String">
                <value>2</value>
            </setting>
        </Driverupdater.Properties.Settings>
    </applicationSettings>
    <userSettings>
        <Driverupdater.Properties.Settings>
            <setting name="pricepermeter" serializeAs="String">
                <value>0.6</value>
            </setting>
            <setting name="priceperhour" serializeAs="String">
                <value>7.5</value>
            </setting>
        </Driverupdater.Properties.Settings>
    </userSettings>
</configuration>